.board-wrapper{
    overflow:hidden;
    border:1px solid rgba(255,255,255,.1);
    border-radius:9px;
    box-shadow:rgba(0,0,0,0.19) 0px 10px 20px;
}
.status{
    margin-bottom:20px;
    font-size:20px;
    font-weight:bold;
}